.icon-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 75px;
    opacity: 0;
    animation: fade-in 1s 7s forwards;
}



.btn-text{
    text-align: center;
    color: white;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}